<launch>
    <arg name="map_file" default="/home/fetch/kisailus_ws/maps/lab101422.yaml"/>

     <!-- Navigation -->
    <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
      <arg name="map_file" value="$(arg map_file)"/> -->
      <!-- <arg name="map_keepout_file" value="$(arg keepout_file)" /> -->
      <arg name="use_keepout" value="false" />
    </include>
    <!-- Start MoveIt-->
    <include file="$(find fetch_moveit_config)/launch/move_group.launch">
      <arg name="info" value="true"/>
      <arg name="allow_active_sensing" value="false"/>
    </include>
    
    <!-- April Tags -->
    <!-- <include file="$(find apriltag_ros)/launch/continuous_detection.launch"/> -->

    <include file="$(find fetch_actions)/launch/main.launch"/> 

</launch>
