<launch>
    <arg name="experiment_config" default="$(find semantic_frame_mapping)/config/escape_room.yaml"/>
    <arg name="map_file" default="/home/cuhsailus/Desktop/Research/Spring_22/fetch_sfm_ws/maps/escape_room.yaml"/>
    
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="log"/>
    <!-- <include file="$(find fetch_navigation)/launch/fetch_nav.launch">
        <arg name="map_file" value="$(arg map_file)"/> -->
        <!-- <arg name="map_keepout_file" value="$(find aws_robomaker_small_house_world)/maps/small_house_no_trash_keepout_zones.yaml"/> -->
        <!-- <arg name="use_keepout" value="false"/>
    </include> -->
    <include file="$(find semantic_frame_mapping)/launch/semantic_frame_mapping.launch">
        <arg name="experiment_config" value="$(arg experiment_config)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 world map 100" />

</launch>